* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;

}
html{
	height: 100%;
}

body{
	/*background-color: #ebebeb;*/
	background-color: black;	
	line-height: 1.6em;
	color: #333;
	background: white;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

}
.logoicon {
	height: 50px;
	width: 50px;
}

footer {
	background: #333;
	color: white;
	padding: 3em;
	margin-top: auto;
}
.social-media a {
	color: #efefef;
	margin: 0.5rem;
	font-size: 1.5rem;
	opacity: .75;
}
.social-media a:hover {
	opacity: 1;

}


nav	{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #6F4E37;
	/*font-family: 'Poppins', sans-serif;*/
	opacity: 0.7;
	position: fixed;
	width: 100%;
	margin-top: 0px;
	z-index: 1;
	font-family: 'Advent Pro', sans-serif;
	/*display: none;*/
}

.logo {
	color: rgb(226, 226, 226);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;

}
.nav-links {
	display: flex;
	justify-content: space-around;
	width: 30%;

}
.nav-links:active {
	text-decoration: blink;
}
.nav-links li {
	list-style: none;

}

.nav-links a {
	color: rgb(226, 226, 226);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}
.nav-links a:active {
	color: #ffc439;

}

.burger	{
	display: none;
	cursor: pointer;
}

.burger div {
	height: 5px;
	width: 25px;
	color: rgb(226, 226, 226);
	margin: 5px;
	background-color: rgb(226, 226, 226);

}
.about-section{
	width: 100%;
	background: #f1f1f1;
	padding: 40px;
	font-family: 'Roboto', sans-serif;

}


.inner-width{
	max-width: 1000px;
	overflow: hidden;
	padding: 0 20px;
	margin: auto;
}

.about-section h1 {
	text-align: center;
	padding-top: 20px;
}
.about-section-row{
	display: flex;
	flex-wrap: wrap;
}
.about-section-col{
	flex: 50%;
}
.about{
	padding-right: 30px;
}

.about p {
	text-align: justify;
	margin-bottom: 20px;
	height: 50vh;

}
.about a{
	display: inline-block;
	color: #e74c3c;
	text-decoration: none;
	border: 2px solid #e74c3c;
	border-radius: 24px;
	padding: 8px 40px;
	transition: 0.4s linear;

}

.about a:hover{
	color: #fff;
	background:#e74c3c; 
}
.skills{
	padding-left: 30px;
}
.skill {
	padding-bottom: 10px;
}
.progress {
	width: 100%;
	height: 12px;
	background: #ddd; 
	border-radius: 12px;


}
.progress-bar{

	height: 12px;
	background: #e74c3c; 
	border-radius: 12px;

}.section{
	width: 600px;
	margin: auto;
	font-size: 20px;
	color: white;
	text-align: justify;
	height: 0;
	overflow: hidden;
}
.section:target{
	height: auto;l
}
.name{
	display: block;
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
}
.p1{
	width: 80%;
}
.p2{
	width: 70%;
}
.p3 {
	width: 50%;
}
.progress-bar span {
	float: right;
	margin-right: 6px;
	line-height: 13px;
	color: #fff;
	font-size: 12px;

}
.team-section{
	overflow: hidden;
	text-align: center;
	background-color: gray;
	padding: 60px;
}
.team-section h1{
	text-transform: uppercase;
	margin-bottom: 60px;
	color: white;
	font-size: 40px;

}
.border {
	display: block;
	margin: auto;
	width: 160px;
	height: 3px;
	background: brown;
	margin-bottom: 40px;

}
.ps {
	margin-bottom: 40px;
}
.ps a {
	display: inline-block;
	margin-bottom: 0 30px;
	overflow: hidden;
	border-radius: 50%;
}
.ps a img {
	width: 350px;
	filter: grayscale(100%);
	transition: 0.4s all;
	height: 350px;

}
.ps a:hover > img{
	filter: none;

}

.progress-bar{

	height: 12px;
	background: #e74c3c;
	border-radius:12px;
}
.about-section {
	width: 100%;
	padding: 40px 0;
	background: #d8b9aa;
	/*background-color: #9a7b4f;*/
	/*background-color: #7e481c;*/



}
.inner-width{
	width: 100%;
	max-width: 1000;
	margin: auto;
	padding: 0 20px;

}
.gallery-section h1{
	text-align: center;
	text-transform: uppercase;
	color: #333;
}
.border{
	width: 180px;
	height: 4px;
	background: #333;
	margin: 60px auto;
}
.gallery-section, .gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.gallery-section, image {
	flex-direction: 25%;
	overflow: hidden;
	cursor: pointer;
}
.gallery-section, image, img{
	width: 100%;
	height: 100%;
	transition: 0.4s;
}
.gallery-section .image:hover img {
	transform: scale(1.4) rotate(15deg);
}
.gal {
	margin-top: 50px;
	font-size: 50px;
	font-family: 'Advent Pro', sans-serif;

}
.pp{
	padding: 100px;
	font-size: 24px;
	color: white;
}










@media screen and (max-width:1024px){
	.nav-links {
		display: flex;
		justify-content: space-around;
		width: 60%;

	}

	@media screen and (max-width:760px){
		body {
			overflow-x: hidden;
		}
		.nav-links {
			position: absolute;
			right: 0px;
			height: 92vh;
			top: 8vh;
			background-color: #6F4E37;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 50%;
			transform: translateX(100%);
			transition: transform 0.5s ease-in;

			/*background-color: bluel*/

			
			
		}
		.section{
	width: 100%;
	margin: auto;
	font-size: 20px;
	color: white;
	height: 50vh;
	text-align: justify;
}
		.about-section.col{
			flex: 100%;

		}
		.ps a img {
	width: 100%;
	height: 200px;



}

		
		#source{

			margin-right: 0px;
			padding: 20px;		

		}
		.nav-links li {
			opacity: 70%;
		}
		.burger {
			display: block;
		}

	}

	.nav-active{
		transform: translateX(0%);
	}

	@keyframes navLinkFade {
		from {
			opacity: 0;
			transform: translateX(50px);
		}
		to {
			opacity: 1;
			transform: translateX(0px);

		}
	}







