* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;

}html{
	height: 100%;
}

body{
	/*background-color: #ebebeb;*/
	background-color: black;	
	line-height: 1.6em;
	color: #333;
	background: #d8b9aa;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

}


footer {
	background: #333;
	color: white;
	padding: 3em;
	margin-top: auto;
}
.social-media a {
	color: #efefef;
	margin: 0.5rem;
	font-size: 1.5rem;
	opacity: .75;
}
.social-media a:hover {
	opacity: 1;

}



nav	{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #6F4E37;
	/*font-family: 'Poppins', sans-serif;*/
	font-family: 'Advent Pro', sans-serif;	
	position: fixed;
	width: 100%;
	margin-top: 0px;
	opacity: 0.7;

}

.logo {
	color: rgb(226, 226, 226);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;


}
.nav-links {
	display: flex;
	justify-content: space-around;
	width: 30%;

}
.nav-links:active {
	text-decoration: blink;
}
.nav-links li {
	list-style: none;

}

.nav-links a {
	color: rgb(226, 226, 226);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}
.nav-links a:active {
	color: #ffc439;

}
.burger	{
	display: none;
	cursor: pointer;
}

.burger div {
	height: 5px;
	width: 25px;
	color: rgb(226, 226, 226);
	margin: 5px;
	background-color: rgb(226, 226, 226);

}

.page {
	padding: 20vh;
	font-size: 24px;
	color: white;

	text-align: justify;
}
h2	{
	color: indianred;
}

/*.gallery{
	border:1px solid #ccc;

}
.gallery img {
	width: 100%
	height: auto;
}
.des{
	padding: 5vh;
	text-align: center;
	background-color: indianred;
}	
.responsive {
	padding: 0 6px;
	float: left;
	width: 25%;
	height: auto;
	margin: 2vh;
	margin-left: 80px;
	margin-top: 0vh;
}
.gallerypics{
	margin-top: 15vh;
}*/

.gallery-section {
	width: 100%;
	padding: 60px;
	background: #d8b9aa;
	/*background-color: #9a7b4f;*/
	/*background-color: #7e481c;*/


}
.inner-width{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;

}
.gallery-section h1{
	text-align: center;
	text-transform: uppercase;
	color: #333;
}
.logoicon {
	height: 50px;
	width: 50px;
}
.border{
	width: 180px;
	height: 4px;
	background: #333;
	margin: 60px auto;
}
.gallery-section, .gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.gallery-section, image {
	flex-direction: 25%;
	overflow: hidden;
	cursor: pointer;

}
.gallery-section, image, img{
	width: 100%;
	height: 100%;
	transition: 0.4s;
	/*border: 1px solid black;*/

}
.gallery-section .image:hover img {
	transform: scale(1.4) rotate(15deg);
}
.gal {
	margin-top: 50px;
	font-size: 50px;
	font-family: 'Advent Pro', sans-serif;

}

	

/*media queries*/
@media screen and (max-width:1300px){
	.gallery-section .image {
		flex: 33.33%;
	}

	}
@media screen and (max-width:960px){
	.gallery-section .image {
		flex: 33.33%;
	}

	}
@media screen and (max-width:760px){
	.gallery-section .image {
		flex: 50%;
	}

	}	
@media screen and (max-width:480px){

	.gallery-section .image {
		flex: 0%;
		width: 1200px;
		
	}
	.gallery-section{
		padding: 0px;
	}
	}
@media screen and (max-width:1024px){
	.nav-links {
		display: flex;
		justify-content: space-around;
		width: 60%;

	}.gallery-section .image {
		flex: 100%;

	}@media screen and (max-width:768px){
		body {
			overflow-x: hidden;
		}
		.nav-links {
			position: absolute;
			right: 0px;
			height: 92vh;
			top: 8vh;
			background-color: #6F4E37;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 50%;
			transform: translateX(100%);
			transition: transform 0.5s ease-in;

			/*background-color: bluel*/

		}
		#p1{
			width: 50%;

		}.gallery-section .image {
		flex: 100%;
	}


	/*position: relative;*/


		/*.page{
			padding: 15%;
		}
		.responsive{
			width: 100%;
			margin: 26px;
			
		}
		.gallerypics{
			width: 60%;
			margin-left: 15%;

		}
		#img1{
			width: 100%;
			height: 100%;
		}
		#img2{
			width: 100%;
			height: 100%;
		}
		#img3{
			width: 100%;
			height: 100%;
		}
		#img4{
			width: 100%;
			height: 100%;
		}
		#img5{
			width: 100%;
			height: 100%;
		}
		#img6{
			width: 100%;
			height: 100%;
		}
		#img7{
			width: 100%;
			height: 100%;
		}*/
		


		.nav-links li {
			opacity: 70%;
		}
		.burger {
			display: block;
		}

	}

	.nav-active{
		transform: translateX(0%);
	}

	@keyframes navLinkFade {
		from {
			opacity: 0;
			transform: translateX(50px);
		}
		to {
			opacity: 1;
			transform: translateX(0px);

		}
	}







