* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;

}
html{
	height: 100%;
}

body{
	/*background-color: #ebebeb;*/
	background-color: black;	
	line-height: 1.6em;
	color: #333;
	background: white;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

}

nav	{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #6F4E37;
	/*font-family: 'Poppins', sans-serif;*/
	opacity: 0.9;
	position: fixed;
	width: 100%;
	margin-top: 0px;
	z-index: 1;
	font-family: 'Advent Pro', sans-serif;

}

.logo {
	color: rgb(226, 226, 226);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;


}
.logoicon {
	height: 50px;
}
.nav-links {
	display: flex;
	justify-content: space-around;
	width: 30%;

}
.nav-links:active {
	text-decoration: blink;
}
.nav-links li {
	list-style: none;

}

.nav-links a {
	color: rgb(226, 226, 226);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}
.nav-links a:active {
	color: #ffc439;

}

.burger	{
	display: none;
	cursor: pointer;
}

.burger div {
	height: 5px;
	width: 25px;
	color: rgb(226, 226, 226);
	margin: 5px;
	background-color: rgb(226, 226, 226);

}

.container {
	position: relative;
	z-index: 0;
	padding-top: 70px;
}

/* Make the image responsive */
.container img {
	width: 100%;
	height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container #btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: grey;
	/*background-color: brown;*/
	outline: 1px black;
	color: #ffc439;
	font-size: 16px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 10px;
	text-decoration: none;
	border: 2px solid #ffc439;
	font-family: 'Advent Pro', sans-serif;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	


}

.container #btn:hover {
	background-color: #6F4E37;
}

#source {
	background-color: #ebebeb;
	/*background-color: red;*/
	width: 100%;
	padding: 200px;
	padding-top: 15px;
	/*float: left;*/
	/*overflow: hidden;*/
	font-family: 'Roboto', sans-serif;
	

}
.paragraph{
	position: absolute;
	z-index: 3;
	font-size: 100px;
	padding-bottom: 25%;
	padding-left: 30%;
	padding-top: 25%;
	padding-right: 30%;
}


.s1 {
	margin-top: 0px;
	/*opacity: 0.9;*/
	/*background-color:  #d8b9aa;*/


}

.s2{
	color: gray;
	padding: 40px;
	font-size: 25px;
	width: 50%;
	/*opacity: 0.9;*/
	background: 
	linear-gradient(
		rgba(17, 0, 0, 0.50),
		rgba(0, 0, 0, 0.75)),
}


.s2 h2 {
	color: #ffc439;
	/*background: #d8b9aa;*/
}

.s3 {
	/*background-color: #ebebeb;*/
	background: #d8b9aa;

	margin-top: 0px;
}



/*slider*/
#slider {
	overflow: hidden;
}

#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
#slider figure img {
	width: 20%;
	float: left;
	margin: auto;
	
}
@keyframes slider {
	0% {
		left: 0; 
	}
	20% {
		left: 0;

	}
	25% {
		left: -100%;

	}
	45% {
		left: -100%;

	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	90% {
		left: -300%;
	}
	100% {
		left: -400%; 
	}

}

/*sticky footer*/
footer {
	background: #333;
	color: white;
	padding: 3em;
	margin-top: auto;
}

.social-media a {
	color: #efefef;
	margin: 0.5rem;
	font-size: 1.5rem;
	opacity: .75;
}
.social-media a:hover {
	opacity: 1;

}


























/*media queries*/

@media screen and (max-width:1024px){
	.nav-links {
		display: flex;
		justify-content: space-around;
		width: 60%;

	}

	@media screen and (max-width:760px){
		body {
			overflow-x: hidden;
		}
		.nav-links {
			position: absolute;
			right: 0px;
			height: 92vh;
			top: 8vh;
			background-color: #6F4E37;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 50%;
			transform: translateX(100%);
			transition: transform 0.5s ease-in;

			/*background-color: bluel*/

			
			
		}
		#source{

			margin-right: 0px;
			padding: 20px;		

		}
		.nav-links li {
			opacity: 70%;
		}
		.burger {
			display: block;
		}

	}

	.nav-active{
		transform: translateX(0%);
	}

	@keyframes navLinkFade {
		from {
			opacity: 0;
			transform: translateX(50px);
		}
		to {
			opacity: 1;
			transform: translateX(0px);

		}
	}







